body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.test
{
  color:blue;
}


ul li {
  background-color: lightblue;
  margin: 2px;
}

ul:hover li {
  opacity: .5;
}

ul li:hover {
  opacity: 1;
}

h2 {
  color: darkgoldenrod;
  font-family: arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
}


.myclass {

  color: darkslateblue;
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
}

container {

position: relative;
}

.child {
  width: 150px;
  height: 50px;
  background-color: silver;
  /* Center vertically */
  position: absolute;
  top: 50%;
}

.mybtn{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.blinking{
  animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
  0%{     color: #000;    }
  49%{    color: #000; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #000;    }
}